* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding-left: 60px;
    font-size: 20px;
}

header nav {
    display: flex;
    padding-top: 30px;
}

.h-logo {
    padding-left: 155px;
    font-size: 22px;
}

.home {
    font-size: 20px;
    margin-left: 250px;
    padding-bottom: 15px;
    padding-top: 12px;
    border-bottom: 4px solid mediumspringgreen;
}

nav button {
    color: white;
    background-color: mediumspringgreen;
    border: 2px solid mediumspringgreen;
    height: 45px;
    width: 120px;
    border-radius: 18px;
    font-size: 20px;
    font-weight: 500;
}

.power-buisness {
    display: flex;
}

.power-text h1 {
    font-size: 55px;
    font-weight: 800;
    width: 450px;
    padding-left: 80px;
    padding-top: 130px;
}

.power-text p {
    padding-top: 20px;
    color: gray;
    font-size: 14px;
    line-height: 25px;
    width: 350px;
    padding-left: 80px;
}

.girl-sales img {
    padding-left: 350px;
    width: 600px;
    padding-top: 80px;
}

.demo-but {
    border-radius: 18px;
    height: 35px;
    width: 90px;
    color: mediumspringgreen;
    background-color: white;
    border: 2px solid mediumspringgreen;
}

.start-but {
    border-radius: 18px;
    height: 35px;
    width: 90px;
    color: white;
    background-color: mediumspringgreen;
    border: 2px solid mediumspringgreen;
}

.start-demo-but {
    padding-left: 70px;
}

.logos {
    display: flex;
    justify-content: space-around;

}

.logo-line {
    text-align: center;
    color: gray;
    padding-top: 80px;
}

.logos img {
    padding-top: 40px;
}

.sec3 {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}

.we-plan-p {
    width: 650px;
    color: grey;
    font-size: 17px;
    padding-left: 200px;
    padding-top: 130px;
    padding-bottom: 20px;
}

.we-plan {
    padding-top: 15px;
    padding-left: 80px;
    width: 530px;
    font-size: 33px;
}

.intro {
    padding-left: 80px;
    padding-top: 80px;
}

.sec4 {
    padding-top: 80px;
}

.reasons-to-choose {
    display: flex;
}

.why-choose-us {
    font-size: 19px;
    color: gray;
    padding-left: 80px;
}

.features h4 {
    padding-left: 80px;
    padding-top: 30px;
    width: 400px;
    font-size: 35px;
    font-weight: 500;
}

.features p {
    width: 340px;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 17px;
    color: gray;
    line-height: 30px;
}

.reasons-to-choose i {
    color: rgb(52, 189, 137);
    background-color: white;
    font-size: 40px;
    border-radius: 100%;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-left: 100px;
}

.feature-heading {
    padding-left: 80px;
    padding-top: 47px;
    width: 400px;
    font-size: 25px;
    font-weight: 500;
}

.feat-parah {
    width: 320px;
    padding-left: 80px;
    color: gray;
    font-size: 17px;
    line-height: 30px;
    padding-top: 12px;
}

.features2 {
    display: flex;
    padding-top: 100px;
}

.features2 i {
    color: rgb(52, 189, 137);
    background-color: white;
    font-size: 40px;
    border-radius: 100%;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-left: 100px;
}

.sec5 {
    display: flex;
    margin-top: 150px;
}


.blue-shirt {
    position: relative;
}


.dots {
    position: absolute;
    left: 50px;
    bottom: -18px;
    z-index: -1;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 13px;
    background-color: orange;
    padding: 18px;
    border-top-left-radius: 22px;
}

.arrow i {
    font-size: 40px;
}

/* .t-man{
    position: absolute ;left:20px;
} */

.t-man img {
    height: 700px;
    margin-left: 80px;
}

.about {
    font-size: 18px;
    color: grey;
    padding-left: 50px;
    margin-top: 180px;
}

.get-to-know {
    margin-left: 50px;
    font-size: 45px;
    font-weight: 700;
    width: 600px;
}

.get-to-know-text {
    color: grey;
    margin-left: 50px;
    font-size: 16px;
    width: 690px;
    padding-top: 20px;
    line-height: 35px;
}

.if-change-the-world {
    padding-top: 30px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 50px;
    width: 680px;
}

.ceo img {
    padding-left: 50px;
    padding-top: 25px;
}

.ceo-img {
    display: flex;
}

.brayan {
    padding-top: 40px;
    padding-bottom: 0;
    font-size: 19px;
}

.ceo-text {
    padding-left: 120px;
    font-size: 13px;
    color: gray;
}

.sec6 {
    margin-top: 80px;
    background-color: rgb(66, 62, 62);
    height: 650px;
    color: white;
    display: flex;

}

.graph img {
    width: 650px;
    margin-top: 80px;
    margin-left: 60px;
}

.graph-text h2 {
    font-size: 50px;
    font-weight: 500;
    padding-top: 150px;
    padding-left: 30px;
    width: 600px;
}

.graph-text p {
    padding-left: 30px;
    padding-top: 20px;
    line-height: 35px;
    font-size: 18px;
    width: 630px;
}

.graph-but button {
    font-size: 20px;
    height: 55px;
    width: 150px;
    border-radius: 30px;
    background-color: mediumspringgreen;
    border: 2px solid mediumspringgreen;
}

.sec7 {
    background-color: whitesmoke;
}

.simple-pricing h1 {
    padding-top: 80px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.simple-pricing p {
    text-align: center;
    padding-top: 20px;
    color: gray;
    padding-bottom: 50px;
}

.simple-pricing span {
    color: mediumspringgreen;
}

.free-trail {
    border: 2px solid white;
    border-radius: 25px;
    background-color: white;
    margin-left: 93px;
    height: 420px;
    width: 380px;
}

.trails-premium {
    display: flex;
}

.free-trail h3 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
}

.free-trail p {
    color: grey;
    text-align: center;
    padding-top: 15px;
}

.free-trail span {
    font-size: 30px;
    color: black;
}

.free-trail ul li {
    list-style-type: none;
    text-align: center;
    line-height: 40px;
}

.free-trail ul {
    padding-top: 15px;
}

.free-trail button {
    font-size: 20px;
    height: 55px;
    width: 300px;
    border-radius: 30px;
    background-color: mediumspringgreen;
    border: 2px solid mediumspringgreen;
    margin-left: 38px;
    margin-top: 15px;
}

.sec8 {
    background-color: whitesmoke;
    height: 700px;
}

.testimony {
    font-size: 22px;
    margin-left: 93px;
    padding-top: 150px;
}

.beloved-customer {
    font-size: 50px;
    font-weight: 600;
    margin-left: 93px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.milton-text {
    display: flex;
}

.reviews-here {
    display: flex;
}

.review {
    background-color: white;
    border: 2 px solid white;
    border-radius: 20px;
    margin-left: 115px;
    width: 600px;
    height: 350px;
}

.review-text {
    padding-top: 80px;
    padding-left: 25px;
    text-align: left;
    line-height: 30px;
    font-size: 18px;
}

.milton-austin {
    padding-top: 100px;
    padding-left: 25px;
}

.artin {
    padding-top: 110px;
    padding-left: 10px;
    font-size: 18px;
}

.artin-tech {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 15px;
    color: gray;
}

.sec9 {
    display: flex;
    margin-top: 50px;
}

.asked-qs h3 {
    color: gray;
    padding-top: 50px;
    padding-left: 93px;
    font-size: 16px;
}

.asked-qs p {
    padding-top: 35px;
    padding-left: 93px;
    font-size: 25px;
}

.having-qs {
    padding-left: 93px;
    padding-top: 15px;
    font-size: 47px;
    width: 400px;
}

.qst1 {
    color: rgb(75, 74, 74);
    font-size: 19px;
    height: 42px;
    width: 500px;
    padding-top: 25px;
    padding-left: 25px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 400px;
}

.qst2 {
    color: rgb(75, 74, 74);
    font-size: 19px;
    height: 42px;
    width: 500px;
    padding-top: 25px;
    padding-left: 25px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 400px;
}

.qst3 {
    color: rgb(75, 74, 74);
    font-size: 19px;
    height: 42px;
    width: 500px;
    padding-top: 25px;
    padding-left: 25px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 400px;
}

.qst1 i {
    font-size: 14px;
    padding-left: 350px;
}

.qst2 i {
    font-size: 14px;
    padding-left: 150px;
}

.qst3 i {
    font-size: 14px;
    padding-left: 250px;
}


.from-blog {
    margin-top: 150px;
    font-size: 20px;
    color: gray;
    padding-left: 93px;
}

.what-we-read {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 48px;
    padding-left: 93px;
}

.blogs-img {
    display: flex;
}

.blog img {
    width: 350px;
    border-radius: 10px;
}

.blog {
    border: 1px solid grey;
    border-radius: 10px;
    width: 350px;
    margin-left: 113px;
    margin-top: 25px;
}

.blog h3 {
    color: mediumspringgreen;
    font-size: 19px;
    padding-top: 25px;
    padding-left: 20px;
}

.blog-text {
    font-size: 19px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.sec11 {
    background-image: linear-gradient(to right, mediumspringgreen, rgb(233, 185, 101), rgb(233, 233, 79));
    height: 200px;
    border-radius: 20px;
    margin: 50px;
}

.ready-to-start {
    display: flex;
}

.get-started h1 {
    font-size: 40px;
    padding-top: 50px;
    margin-left: 350px;
    color: white;
}

.get-started p {
    font-size: 16px;
    padding-top: 15px;
    margin-left: 342px;
    color: white;
}

.hundred-demo {
    padding-left: 340px;
    padding-top: 50px;
}

.hundred-demo p {
    font-size: 16px;
    padding-top: 15px;
    padding-left: 32px;
    color: white;
}

.hundred-demo button {
    color: white;
    background-color: rgb(16, 214, 138);
    border: 2px solid rgb(16, 214, 138);
    width: 180px;
    height: 50px;
    border-radius: 18px;
    font-size: 30px;
}

.footer-div {
    display: flex;
    padding-bottom: 80px;
    border-bottom: 1px solid grey;
}

.footer-div ul li {
    list-style-type: none;
    font-size: 20px;
    line-height: 38px;
    padding-top: 20px;
    color: gray;
}

.about-lorem {
    padding-left: 93px;
    font-size: 20px;
}

.about-lorem p {
    width: 300px;
    font-size: 18px;
    color: grey;
    line-height: 25px;
    padding-top: 20px;
    text-align: left;
}

.company {
    margin-left: 100px;
    font-size: 20px;
}

.info {
    margin-left: 250px;
    font-size: 20px;
}

.stay-updated {
    margin-left: 200px;
    font-size: 20px;
}

.plane {
    position: relative;
}

.plane input {
    margin-top: 25px;
    width: 200px;
    padding: 16px;
    /* padding-left: 15px; */
    /* border: 1px solid grey; */
    border-radius: 22px;
    /* font-size: 14px; */
    color: grey;
}

.plane i {
    /* margin-left: 150px; */
    font-size: 18px;
    border-radius: 50%;
    padding: 13px;
    color: white;
    background-color: mediumspringgreen;
}

.plane-icon {
    position: absolute;
    right: 10px;
}

.border-end {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    color: grey;
    font-size: 20px;
}

.border-end ul li {
    list-style-type: none;
    display: inline;
    font-size: 25px;
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 100%;
}

.copyright {
    margin-left: 93px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.available-at {
    margin-top: 25px;
    padding-left: 980px;
}